.spots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.spot-container {
  border: #0e233e solid 3px;
  box-shadow: 0px 0px 7px 5px#0e233e;
  padding: 15px 15px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease-in-out;
}

.spot-container:hover {
  box-shadow: 0px 0px 10px 10px#0e233e;
}

.spot-info {
  display: flex;

  font-size: 12px;
  color: #0e233e;
  justify-content: space-between;
}
.nav-link {
  text-decoration: none;

  padding: 25px 25px;
}

/* TOOLTIP ------------------ */

#tool-tip {
  position: relative;
}

#tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #f1f2ec;
  color: #0e233e;
  box-shadow: 0px 0px 6px 5px #0e233e;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  padding: 5px 3px;
  position: absolute;
  z-index: 1000;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.8s ease-in-out;

  left: 50%;
  top: 30%;
}

#tool-tip:hover {
  opacity: 1;
}
