.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

#logo {
  width: 120px;
}

#right-nav {
  /* border: black 3px solid; */
  display: flex;
  align-items: center;
}

#create-spot-button {
  padding: 5px;
  border-radius: 7px;
  color: #0e233e;
  font-weight: bold;
}
#create-spot-button:hover {
  color: #f1f2ec;
  background-color: #0e233e;
  cursor: pointer;
}

#login-button:hover {
  background-color: #0e233e;

  cursor: pointer;
}

.create-button {
  padding-right: 18px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #0e233e solid;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #f1f2ec;
  z-index: 1000;
}

#login-button {
  margin-right: 30px;
  padding: 5px 10px;
  border-radius: 7px;
}

.manage-spots-dropdown {
  text-decoration: none;
  color: black;
}

#login-dropdown {
  margin-left: -150px;

  list-style-type: none;
  padding-right: 30px;

  border: 2px #0e233e solid;
  border-radius: 10px;
}

.login-signup {
  flex-direction: left;

  margin-right: 40px;
}

.login-menu {
  text-align: left;
  align-items: left;
}

/* MODAL OVERLAY */
